#### Postgres Config
PG_URL=jdbc:postgresql://localhost:5432/luftborn_songplayer
PG_USER=postgres
PG_PASSWORD=password
PG_NAME=luftborn_songplayer

#### Redis Config
REDIS_HOST=localhost

#### Jwt Config
##Generate a HMAC key then BASE64 encode the HMAC key if you want a different key
JWT_SECRET_KEY=ODcyZTM1MTYyMjFiYTJiOTZjOWFmNTk3OTMwYjkzNTM3Zjc1YTQ1NDU1ODdhMjdlZjAyZTAxYWVjNGVkMTk1OQ==
JWT_ISSUER=luftborn_songplayer
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=2592000000